h1 {
    color:black;
    text-shadow: greenyellow 1px 0 10px;
}
h2{
    font-style:italic;
    background-color:greenyellow;

}
a:link {
    color:rgb(6, 254, 225);
}
a:visited {
    color:rgb(10, 10, 241);
}
a:hover {
    text-decoration:none;
}
h3 {
    color:rgba(0, 0, 0, 0.503);
    text-shadow: greenyellow 1px 0 10px;

}
p {
    font-family: serif;
}
body{
    background-color: #aeb8b0af;
}
p{
    color:green;
}